@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
h1, h2, h3, h4, h5, h6 {
  color: #0E0E52;
  font-family: "Dancing Script", cursive;
}

.box-shadow, .card, .navbar {
  -webkit-box-shadow: 0px 4px 6px 0px #cfcfcf;
  -moz-box-shadow: 0px 4px 6px 0px #cfcfcf;
  box-shadow: 0px 4px 6px 0px #cfcfcf;
}

.navbar {
  background-color: #78C0E0;
  border-bottom: 1px solid gray;
}

footer {
  background-color: #449DD1;
}

@media (max-width: 767px) {
  .alquileres article, .ventas article {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .alquileres article {
    text-align: right;
  }
  .ventas article {
    text-align: left;
  }
}
.btn-white {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #0E0E52;
  display: inline-flex;
  height: 48px;
  line-height: 1;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.btn-white:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.btn-white:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.btn-white:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/*
#5adaff
#5468ff
*/
.btn-blue {
  color: white;
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #78C0E0 0, #449DD1 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3019607843) 0 7px 13px -3px, rgba(58, 65, 111, 0.5019607843) 0 -3px 0 inset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.btn-blue:focus {
  box-shadow: #78C0E0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3019607843) 0 7px 13px -3px, #78C0E0 0 -3px 0 inset;
}
.btn-blue:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3019607843) 0 7px 13px -3px, #0E0E52 0 -3px 0 inset;
}
.btn-blue:active {
  box-shadow: #78C0E0 0 3px 7px inset;
  transform: translateY(2px);
}

.border-top-left-radius, .card img, .card {
  border-radius: 0px;
  border-top-left-radius: 15px;
}

.card {
  border-bottom-right-radius: 15px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 70px;
  display: flex;
  flex-direction: column;
}
body main {
  flex: 1;
}

.servicios, .ventas, .alquileres {
  text-align: center;
}

.nosotros {
  text-align: justify;
}
.nosotros h2, .nosotros a {
  text-align: center;
}

.difuminada {
  filter: blur(1.5px) brightness(0.88);
  border-radius: 10px;
}

.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #78C0E0;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  animation-name: width_effect;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes width_effect {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
