.animationFadeForward {
    animation: fadeForward 1s ease 0s 1 normal forwards;
}

@keyframes fadeForward {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animationSlideRight {
    animation: slideRight 2s ease 0s 1 normal forwards;
}

.animationSlideLeft {
    animation: slideLeft 2s ease 0s 1 normal forwards;
}

.animationSlideBottom {
    animation: slideBottom 2s ease 0s 1 normal forwards;
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideBottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}