@use './var';

.btn-white {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: var.$colorFuente;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    &:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    &:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }
}


/*
#5adaff
#5468ff
*/


.btn-blue {
    color: white;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, var.$celesteClaro 0, var.$celesteOscuro 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: #2d234266 0 2px 4px,#2d23424d 0 7px 13px -3px,#3a416f80 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    &:focus {
        box-shadow: var.$celesteClaro 0 0 0 1.5px inset, #2d234266 0 2px 4px, #2d23424d 0 7px 13px -3px, var.$celesteClaro 0 -3px 0 inset;
    }
    &:hover {
        box-shadow: #2d234266 0 4px 8px, #2d23424d 0 7px 13px -3px, var.$azulOscuro 0 -3px 0 inset;
    }
    &:active {
        box-shadow: var.$celesteClaro 0 3px 7px inset;
        transform: translateY(2px);
    }
}