@use './var';

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var.$colorNavbar;
    border-left: 2px solid var.$colorNavbar;
    &:focus {
        border: none;
    }
}

