@use './var';

.box-shadow {
    -webkit-box-shadow: 0px 4px 6px 0px rgba(207,207,207,1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(207,207,207,1);
    box-shadow: 0px 4px 6px 0px rgba(207,207,207,1);
}

.navbar {
    background-color: var.$colorNavbar;
    border-bottom: 1px solid gray;
    @extend .box-shadow;
}