@media (max-width: 767px) {
    .alquileresIndex article, .ventasIndex article {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .alquileresIndex article {
        text-align: right;
    }
    .ventasIndex article {
        text-align: left;
    }
}