/*$colorFuente: #0D160B;
$colorNavbar: #B6DCFE;
$colorFooter: #93A3B1;*/

/*$colorFuente: #36393B;
$colorNavbar: #A5D8FF;
$colorFooter: #AFD0D6;*/


$colorFuente: #0E0E52;
$colorNavbar: #78C0E0;
$colorFooter: #449DD1;